.header-profile {
  width: 95%;
  margin: 0 auto;
  height: 90px;
  background-color: #005792;
  padding: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.profile-date {
  height: 30px;
  float: right;
}
.profile-date span {
  font-size: 13px;
  color: white;
}

.profile-img span {
  font-size: 22px;
  color: white;
  margin-left: 10px;
}

button:focus {
  outline: none !important;
}

.tabs-staff {
  width: 95%;
  margin: 0 auto;
}
.tabs-content {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 100%;
}
